<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="{{ asset('bundles/frontend/css/app.css') }}"/>
  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
</head>
<body>
  <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul>

  <div ng-view></div>

  <div>Angular seed app: v<span app-version></span></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  -->

  <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>
  <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
  <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/enc-base64-min.js"></script>
  <script src="{{ asset('bundles/frontend/lib/angular/angular.js') }}"></script>
  <script src="{{ asset('bundles/frontend/lib/angular/angular-cookies.js') }}"></script>
  <script src="{{ asset('bundles/frontend/lib/angular/angular-resource.js') }}"></script>
  <script src="{{ asset('bundles/frontend/js/app.js') }}"></script>
  <script src="{{ asset('bundles/frontend/js/services.js') }}"></script>
  <script src="{{ asset('bundles/frontend/js/controllers.js') }}"></script>
  <script src="{{ asset('bundles/frontend/js/filters.js') }}"></script>
  <script src="{{ asset('bundles/frontend/js/directives.js') }}"></script>
</body>
</html>
